.pat-twitter {
    width: 36em;
    border:1px solid #5e5ede;
}
article {
    border:1px solid #dedede;
    margin:0.2em;
    padding:0.2em;

}
figure {
    margin: 0.5em;
    background-size: 100% auto;
}
figure img {
    width: 100%;
    background-size: cover;
    background-position: center;
}
